body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 10px 0;
        /*border: none;*/
        -webkit-transition: all ease-in-out .5s;
        -moz-transition: all ease-in-out .5s;
        transition: all ease-in-out .5s;
    }

    .top-nav-collapse {
        /*border: 1px solid #ddd;*/
        padding: 0;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
        background-color: rgba(256,256,256, 0.8) !important;
    }
}

#name {
    font-size: 3.3em;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: .1em;
    color: black;
}

#shuffle {
    font-size: 2.5em;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #888;
    /*letter-spacing: .1em;*/
}

/* NAVBAR STUFF */

#navbar-main {
    /*background: white;*/
    border: none;
    background-color: transparent;
}

.navbar .nav > .active {
    background: none;
    /*border-bottom: 4px solid red;*/
}

.navbar .nav > .active:after {
    width: 100%;
    background: red;
}

.navbar-default .navbar-nav > li > a {
    padding: 20px;
    color: black;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #aaa;
}

#navbar-main .navbar-nav > .active > a, 
#navbar-main .navbar-nav > .active > a:hover, 
#navbar-main .navbar-nav > .active > a:focus {
    background: none !important;
}

.navbar .nav li:after {
    content: '';
    display: block;
    /*margin: auto;*/
    height: 4px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.page-scroll {
    font-size: 15px;
    font-weight: 300;
    color: black;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 300;
    padding: 20px 50px 20px 0;
}

/* END NAVBAR */

.intro-section {
    height: 100%;
    max-height: 1000px;
    /*padding-top: 150px;*/
    text-align: center;
    background: #fff;
}

.intro-section div {
    position: relative;
}

#intro-container {
    padding-top: 150px;
    width: 100%;
    height: 100%;
}

svg#distribution {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    min-height: 400px;
    position: absolute;
    z-index: 1;
}

#intro-text {
    position: relative;
    z-index: 2;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.projects-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}